{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'index' %}"><h2>Miembros de mi familia</h2></a>
    </button>
  </div>
</nav>


{% block cuerpo %}
{% endblock %}


<ul class="nav bg-dark fixed-bottom justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{%url  'index' %}">--Familiares--</a>
  </li>
</ul>
  