{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'index' %}"><h2>Miembros de mi familia</h2></a>
    </button>
  </div>
</nav>


{% block cuerpo %}
{% endblock %}


<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Trabajo entregable</span>
  </div>
</footer>
  